## Api cepesp data em python
### Utilização básica
Votação para presidente

In [1]:
from cepesp.api import *

vot = get_votes(year=2014, position=PRESIDENTE, regional_aggregation=BRASIL)
vot[["NUMERO_CANDIDATO", "NUM_TURNO", "QTDE_VOTOS"]].head()

  NUMERO_CANDIDATO NUM_TURNO QTDE_VOTOS
0               13         1   43267668
1               16         1      91209
2               20         1     780513
3               21         1      47845
4               27         1      61250

#### Adicionando filtros

In [2]:
vot = get_votes(year=2014, position=PRESIDENTE, regional_aggregation=UF, uf="CE", candidate_number=13)
vot[["NUMERO_CANDIDATO", "UF", "NUM_TURNO", "QTDE_VOTOS"]]

  NUMERO_CANDIDATO  UF NUM_TURNO QTDE_VOTOS
0               13  CE         1    3087658
1               13  CE         2    3522884

#### Informações sobre o candidato

In [3]:
cand = get_candidates(year=2014, position=DEP_FEDERAL, columns='*')
cand[["NUMERO_CANDIDATO", "NOME_CANDIDATO", "SIGLA_UF", "NUM_TURNO"]].head()

  NUMERO_CANDIDATO                        NOME_CANDIDATO SIGLA_UF NUM_TURNO
0             1012                     ALAN RICK MIRANDA       AC         1
1             1101  CLAUDENOR MAGALHÃES SANTANA DE SOUZA       AC         1
2             1111           LEILANE RIBEIRO DE OLIVEIRA       AC         1
3             1112   JOSÉ EDMAR RONIVON SANTIAGO DE MELO       AC         1
4             1122            OSVALDO ALVES RIBEIRO NETO       AC         1

### Informações sobre Legendas

In [4]:
leg = get_coalitions(year=2014, position=GOVERNADOR, columns='*')
leg[["TIPO_LEGENDA", "NUMERO_PARTIDO", "SIGLA_PARTIDO", "NOME_COLIGACAO"]].head()

  TIPO_LEGENDA NUMERO_PARTIDO SIGLA_PARTIDO              NOME_COLIGACAO
0    COLIGACAO             10           PRB      FRENTE POPULAR DO ACRE
1    COLIGACAO             11            PP  ALIANÇA POR UM ACRE MELHOR
2    COLIGACAO             12           PDT      FRENTE POPULAR DO ACRE
3    COLIGACAO             13            PT      FRENTE POPULAR DO ACRE
4    COLIGACAO             14           PTB      FRENTE POPULAR DO ACRE

### Junção entre votação e candidatos

In [5]:
vot = get_elections(year=2014, position=PRESIDENTE, regional_aggregation=BRASIL, columns='*')
vot[["NOME_CANDIDATO", "NUM_TURNO", "QTDE_VOTOS"]].head()

                               NOME_CANDIDATO NUM_TURNO QTDE_VOTOS
0                             MAURO LUÍS IASI         1      47845
1                           RUI COSTA PIMENTA         1      12324
2                   JOSÉ LEVY FIDELIX DA CRUZ         1     446878
3  MARIA OSMARINA MARINA DA SILVA VAZ DE LIMA         1   22176619
4                       EVERALDO DIAS PEREIRA         1     780513

### Votos x Partidos

In [6]:
vot = get_elections(year=2014, position=PRESIDENTE, regional_aggregation=BRASIL, political_aggregation=COLIGACAO)
vot.head()

,ANO_ELEICAO,NUM_TURNO,CODIGO_CARGO,DESCRICAO_CARGO,COMPOSICAO_COLIGACAO,QTDE_VOTOS
0,2014,1,1,PRESIDENTE,PCB,47845
1,2014,1,1,PRESIDENTE,PCO,12324
2,2014,1,1,PRESIDENTE,PHS / PRP / PPS / PPL / PSB / PSL,22176619
3,2014,1,1,PRESIDENTE,PRTB,446878
4,2014,1,1,PRESIDENTE,PSC,780513

### Votos Brancos

In [7]:
vot = get_votes(year=2014, position=PRESIDENTE, regional_aggregation=BRASIL, candidate_number=95)
vot[["NUMERO_CANDIDATO", "QTDE_VOTOS"]]

  NUMERO_CANDIDATO QTDE_VOTOS
0               95    4420489
1               95    1921819

### Votos Nulos

In [8]:
vot = get_votes(year=2014, position=PRESIDENTE, regional_aggregation=BRASIL, candidate_number=96)
vot[["NUMERO_CANDIDATO", "QTDE_VOTOS"]]

  NUMERO_CANDIDATO QTDE_VOTOS
0               96    6678592
1               96    5219787